# non-dot files
#/[^.]*

# Desktop only shit or
# Machine-specific
*.local
#/.ssh
#/.weechat
#/.Xresources
#/.ncmpcpp
#/.gitconfig

## ZSH junk
.zcompdump
*.zwc
#
## shit
#/.adobe
#/.aptitude
#/.aspell*
#/.cache
#/.config
#/.dmrc
#/.dbus
#/.fehbg
#/.gvfs
#/.ibus
#/.local
#/.lesshst
#/.macromedia
#/.mozilla
#/.mtpaint
#/.urxvt
#/.xsession*
#/.Xauthority
#*.old
#*.orig
#*.pyc
#*gstreamer*
*history
#*histfile

# not using
#/.irssi
#/.bash*
#/.profile
#*pulse*

# vim stuffs
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*viminfo
*~
