# Desktop only shit or
# Machine-specific
*.local

## ZSH junk
.zcompdump
*.zwc
*history
#*histfile

# not using

# vim stuffs
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*viminfo
*~

# let vim-plug manage its own git repo
/vim/plug
